{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "14.17"
        },
        "shippedProposals": true
      }
    ]
  ],
  "env": {
    "legacy": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
              "node": "12.20"
            },
            "shippedProposals": true
          }
        ]
      ]
    }
  }
}
