{
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaVersion": 2021,
    "sourceType": "module"
  },
  "globals": {
    "globalThis": true
  },
  "env": {
    "es6": true
  },
  "extends": ["eslint:recommended", "plugin:prettier/recommended"],
  "plugins": ["simple-import-sort"],
  "rules": {
    "func-names": "off",
    "no-param-reassign": "warn",
    "global-require": "warn",
    "sort-keys": "error",
    "no-continue": "off",
    "no-labels": "off",
    "no-label-var": "off",
    "no-void": "off",
    "no-undefined": "error",
    "padding-line-between-statements": [
      "error",
      { "blankLine": "never", "prev": "*", "next": "case" },
      { "blankLine": "never", "prev": "*", "next": "default" },
      { "blankLine": "always", "prev": "block-like", "next": "break" }
    ],

    "prettier/prettier": "error",
    "simple-import-sort/imports": "error"
  },
  "overrides": [
    {
      "files": ["src/**/__tests__/*.test.mjs"],
      "extends": ["plugin:chai-expect/recommended"],
      "env": {
        "node": true,
        "mocha": true
      },
      "plugins": [
        "chai-expect",
        "chai-friendly"
      ],
      "rules": {
        "sort-keys": "off",
        "no-unused-expressions": 0,
        "chai-friendly/no-unused-expressions": 2
      }
    }
  ]
}
