{
  "all": true,
  "check-coverage": true,
  "include": [
    "src/**/*.mjs"
  ],
  "exclude": [
    "**/__*__/**",
    "src/parser/parser.mjs"
  ],
  "reporter": [
    "lcovonly",
    "html"
  ],
  "branches": 80,
  "lines": 75,
  "functions": 75,
  "statements": 85
}
