{
  "all": true,
  "check-coverage": true,
  "include": [
    "src/**/*.mjs"
  ],
  "exclude": ["src/parser/parser.mjs", "**/__*__/**", "src/runtime/aggregate-error.mjs"],
  "reporter": [
    "lcovonly",
    "text"
  ],
  "branches": 80,
  "lines": 75,
  "functions": 75,
  "statements": 85
}
